<div class="left-menu">
<h2>
<img src="assets/images/icon.png" height="96px"/>
</h2>
<ul>
<li>
        {{link-to 'Find Motorcycles' 'motorcycles'}}
</li>
<li>
        {{link-to 'My Motorcycles' 'app.mymotorcycles'}}
</li>
<li>
        {{link-to 'Account Info' 'app.profile'}}
        </li>
        </ul>
</div>
