<div class="appBody">
<h3>Rent Motorcycle</h3>
<div class="row">
<hr class="">
</div>
</div>
  <form action="https://motoshare-v1.appspot.com/api/payment/4573968371548160" method="POST">

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_yAKS9rAZxDhELLpoXQNcudQz"
    data-amount="19500"
    data-name="Motoshare"
    data-description="Bike Checkout"
    data-image="https://motoshare-v1.appspot.com/assets/images/icon.png"
    data-locale="auto">
  </script>
</form>
