<body class="site registerBG">
	<div class="content">
		<img src="assets/images/logo.png" class="img-responsive" style="padding-bottom:20px; padding-left:50px;"/>
	<span>
		{{#link-to 'login' }}
		<button type="button" class="btn btn-lg btn-white-outline buttonspacer">Log In</button>
		{{/link-to}}
		{{#link-to 'register' }}
		<button type="button" class="btn btn-lg btn-white-outline">Register</button>
		{{/link-to}}
	</span>
</div>
</body>