<body>
{{nav-bar}}
{{from-elsewhere name="right-sidebar"}}
{{#if map}}
{{#cycle-map latitude=lat longitude=lng}}
{{#each model as |motorcycle| }}
{{/each}}
{{/cycle-map}}
{{else}}
<h2>List View</h2>
{{/if}}
{{outlet}}
</body>