<body class="site notfoundBG">
	<div class="content">

			<h2 class="fourohfour">Oops wrong turn friend....</h2>
				<span>
		{{#link-to 'app.profile' }}
		<button type="button" class="btn btn-lg btn-white-outline buttonspacer">Home</button>
		{{/link-to}}
		{{#link-to 'login' }}
		<button type="button" class="btn btn-lg btn-white-outline buttonspacer">Log In</button>
		{{/link-to}}
		{{#link-to 'register' }}
		<button type="button" class="btn btn-lg btn-white-outline">Register</button>
		{{/link-to}}
	</span>
	</div>
</body>